th{
    text-align: center;
}
body{
    background: whitesmoke;
}
.like-icon{
    color:green;
}
.dislike-icon{
    color:red;
}
.page-heading{
    text-align: center;
    color: #545472;
}
table{
    background: white;
}